<div id="contact-information">
  <h1>Contact Information</h1>
  <table>
    <tr>
      <th>Phone:</th>
      <td>1 (620) 555 5555</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= mail_to('shitech.local@gmail.com')%></td> 
    </tr>
  </table>
</div>
