<div id="services">
  <h1>Services</h1>
  <table>
    <tr>
      <th>Residential Tech Support/Repair</th>
      <td>$50.00</td>
    </tr>
    <tr>
      <th>Personal/Small Business Web Development</th>
      <td>Prices are negotiable</td>
    </tr>
  </table>
  <p>
    *Prices do not include cost of replacement parts
  </p>
</div>
