<div class='row'>
  <div class="medium-5 columns">
    
    <%= image_tag('shit.jpg') %>
  </div>
  <div class="medium-7 columns">
    <%= render(:partial => 'service') %>

    <%= render(:partial => 'contact') %>
  </div>
</div>
